body {
  background-color: #fff;
  color: #333;
  font-family: roboto, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: roboto, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  margin: 0;
  color: #3c763d;
  background-color: #dff0d8;
  padding: 15px;
  border-radius: 5px;
}

.field_with_errors {
  input, textarea {
    background-color: #f2dede;
    &::placeholder {
      color: #a94442;
    }
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid #a94442;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f2dede;
  color: #a94442;
  border-radius: 4px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #a94442;
    color: #fff;
  }

  ul {
    margin: 0;
    li {
      font-size: 14px;
      list-style: square;
      margin: 1em 0;
    }
  }
}

label {
  display: block;
}
